@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/*font-family: 'Great Vibes', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/*    font-family: 'Roboto', sans-serif;*/
/*globbal*/
*{
    font-family: 'Roboto', sans-serif;
}
.container {
    margin: 0 auto;
    padding: 0 50px;
}
body {
    background-color: #fff;
    color: #333;
}



/*hero*/
#hero {
    height: 500px;
    width: 100%;
}


.bg-image {
    /* The image used */
    background-image: url("../img/stodio.jpg");
  
    /* Add the blur effect */
    filter: blur(2px);
    -webkit-filter: blur(2px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: #8600007a; /* Black w/opacity/see-through */
  color: #fff;
  font-weight: bold;
  border: 3px solid #FF2626;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.hero-text {
    font-family: 'Great Vibes', cursive;
    font-size: 6rem;
}

/*about section*/
#about {
    height: 400px;
    width: 100%;
    text-align: center;
    padding: 80px;
}
.about-img {
    border-radius: 100%;
    width: 90px;
    border: 2px solid #FF2626;
    margin-bottom: 10px;
}
.about-text {
    font-size: 2.5rem;
    
}

/*carousel*/
.carousel-item{
    height: 450px;
    background-color: rgb(20, 20, 20);
    
}

.container-car {
    padding: 7% 15%;
    text-align: center;
    color: #fff;
    
}
.carousel-text {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 3rem;
}
.carousel-p{
    font-size: 1.5rem;
    padding: 20px;
}


/*pricing*/
#pricing {
    padding: 2% 10%;
    text-align: center;
    
}
.pricing-text {
    margin-top: 10px;
    font-size: 1.7rem;
    border-bottom:3px solid  #FF2626;
}

/*footer*/
#footer {
    height: 50px;
    text-align: center;
    background-color: black;
    
    width: 100%;
    border-top: 2px solid #FF2626;
}

#footer a {
    text-decoration: none;
    color: #fff;
    margin: 5px 15px;
    font-size: 1rem;
}



/* media */
@media screen and (max-width: 600px) {
    .bg-text {
        top: 60%;
  
    }
    .hero-text {
        
        font-size: 3rem;
    }
    .about-text {
        font-size: 1.5rem;
        
    }
    .carousel-text {

        font-size: 2rem;
    }
    .carousel-p{
        font-size: 1rem;
       
    }
  }